<div class="simple-video-player">
    <!-- <p>embedUrl: < %= embedUrl % ></p>
    <p>embedSource: < %= embedSource % ></p>
    <p>title: < %= title % ></p>
    <p>description: < %= description % ></p>
    <pre>< %- embedCode % ></pre>
    < % if (typeof preview !== 'undefined') { % ><pre>< %- preview % ></pre>< % } % >
    <p>fullEmbed: < %= JSON.stringify(fullEmbed) % ></p> -->
    <div style="clear: both;"><%- embedCode %></div>
</div>
